@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
body{
	color:#333;
}
a{
	text-decoration: none;				/* 텍스트-꾸밈 : 없음 */
	color:inherit;						/* 글 색상 : body에서 상속 */
}
ul{
	list-style-type: none;
}
.logo{
	 text-align: center; /* ▶ 크기 모를경우*/
	width:287;
	margin:0 auto;
}
.d-none{
	display: none;
}
.title-bar{
	background-color: #ff7c71;
	padding:.5rem 0;
	text-align: center;
	letter-spacing: 5px;			/* 문자-간격(자간) : 5px */
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}


form, fieldset{
	border:0;						
}

.field_wrap{
	width:600px;
	border:1px solid gray;
	box-sizing: border-box;
	margin:1.5rem auto 1rem;
	padding:50px;
}
legend{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom:1rem;
}
#user_id, #user_pw,#loginBtn, #joinBtn, #findBtn{
	width:100%;			/* left 2px, right 2px + 100% */
	box-sizing: border-box;
	height:40px;
}
[type=text],#user_pw{
	text-indent: 1rem;
}
.member li, .guest li{
	margin-bottom: 1rem;
}
#loginBtn{
	margin-bottom: 1rem;
	background-color: #23adc7;
	border:0;
	border-radius:5px;				/* 테두리-반경 : 5px만큼 */
	color:white;
}
#joinBtn{
	background-color: #ff7c71;
	border:0;
	border-radius:5px;				/* 테두리-반경 : 5px만큼 */
	color:white;
}
[for=order_num], [for=first_num]{
	width:20%;
	display: inline-block;
	float:left;
}
#order_num{
	width:80%;
	box-sizing: border-box;
	height:40px;
}
#first_num, #mid_num, #last_num{
	height:40px;
	box-sizing: border-box;
}
#mid_num, #last_num{
	text-indent: 1rem;
	width:26.35%;
}
#first_num{
	width:20%;
}
#findBtn{
	background-color: #c75d23;
	color: white;
	border:0;
	border-radius: 5px;
}
aside{
	margin:2rem 0 1rem 0;
}
.xnb{
	text-align: center;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding:.5rem 0;
}
.xnb li{
	display: inline-block;
}
footer{
	text-align: center;
}
.tel{
	font-size: 20px;
	color:#d8724e;
}
.copyright{
	text-transform: uppercase;					/* 소문자를 대문자로 */
}








































