@charset "UTF-8";

body{
	font:14px/1.6 "Maven Pro", "Noto Sans KR",sans-serif;
	color:#666;
}

a, a:link{
	color:inherit;
	text-decoration: none;
}

.d-none{
	display: none;
}
#hotItem{
	display: none;
}

header{
	background:rgba(32, 14, 37, .7);
	position: absolute;		/* 스크롤 시 따라감 */
	width:100vw;			/* viewport width : vp를 100조각으로 나누 비율(=%) */
	z-index: 1000;
}
.header-wrap{
	max-width: 1000px;
	height:60px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#gnb{
	display: flex;
	column-gap: 3rem;
}
#gnb a, .link-items a{
	color:#d6d6d6;
	font-weight: 700;
	font-size: 15px;
}
#gnb a:hover, .link-items a:hover{
	color:#ffffff;
}
#gnb > li:hover .lnb{
	display: block;
}
.link-items{
	display: flex;
	font-size:13px;
	column-gap: 1rem;
}
.link-items li:nth-child(1){
	position: relative;
}
.link-items li:nth-child(1) a::before{
	content:'';
	display: inline-block;
	width:34px;
	height: 33px;
	background: url("../images/topicon.png");
	position: absolute;
	left: -40px;
	top:-3px;
}
.link-items a{
	font-size: 13px !important;
}
.lnb{
	display: none;
	position: absolute;
}

.hero-wrap{
	position:relative;
	height:835px;
	overflow: hidden;
}
.hero-bg{
	animation-name:scale-down;
	animation-duration:5s;
}

.hero-text{
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);		/* margin-left. margin-right 대신 사용 (x축, y축) */
	/* 2.애니메이션 사용 */
	animation:zoom-ani 2s infinite ease-in-out;	/* zoom-ani를 2초동안 반복적으로 ease-in-out 형태로 */
}


/* 1.애니메이션 정의 */
@keyframes zoom-ani{
	0%{
		transform:scale(1, 1) translate(-50%, -50%)
	}50%{
		transform:scale(1.1, 1.1) translate(-50%, -50%)
	}100%{
		transform:scale(1, 1) translate(-50%, -50%)
	}
}
@keyframes scale-down{
	from{
		transform:scale(1.2, 1.2)
	}to{
		transform:scale(1, 1)
	}
}

.promotion{
	max-width:1000px;
	margin:0 auto;
}
.promotion h3{
	text-transform: capitalize;
	text-align:center;
	font-size: 30px;
	color:#000;
	font-weight: 900;
	margin: 100px 0 30px 0;
}
.promo-imgs{
	display: flex;
	justify-content: space-between;
}
.banner{
	background: black;
	text-align: center;							/*   */
	margin:1rem 0;
	font-size:0;
}
.favorite h3{
	text-transform: capitalize;
	text-align:center;
	font-size: 30px;
	color:#000;
	font-weight: 900;
	margin: 2em 0 2em 0;
}
.fav-wrap{
	display: flex;
	justify-content: space-between;
	max-width:1000px;
	margin:0 auto;
}

.fav-wrap > div:hover .overlay{
	opacity: 1;
	/*animation:apper .5s ease-in-out;				/* transition : 트랜지션( 처음-끝 css 값을 정하면 중간 css값을 자동으로 작성) */
}

/*@keyframes apper{
	from{
		opacity:0;
	}to{
		opacity: 1;
	}
}*/

.overlay{
	opacity: 0;
	transition:opacity.5s cubic-bezier(0,1.06,.8,.22);				/* css 속성의 차이를 자동으로 중간과정을 생성하는 애니메이션 */
	position: absolute;
}

.video h3, .map h3{
	text-transform: capitalize;
	text-align:center;
	font-size: 30px;
	color:#000;
	font-weight: 900;
	margin: 2em 0 2em 0;
}

.video ul{
	max-width:1000px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.video ul li{
	position: relative;
}
.video ul li > a{
	position:absolute;
	opacity: 0;
	transition:opacity .3s ease-in-out;
}

.video ul li:hover > a{
	opacity: 1;
}

#modal{
	display: none;
	position: fixed;
	background:rgba(0,0,0,.7);
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	z-index: 10;
}

#modal iframe{
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);				/* 화면 가운데 배치 */
}

#hide{
	width:70px;
	height: 70px;
	display: flex;
	align-items:center;
	justify-content: center;
	font-size:2rem;
	position: absolute;
	border-radius: 50%;
	left:50%;
	top:4%;
	transform:translateX(-50%);
	color:white;
	background: red;
	z-index: 9999;
}

aside{
	margin:1rem 0;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	justify-content: space-between;
	align-items: center;
}
.aside-wrap{
	max-width:1000px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

.social-icons, .extra-icons{
	display: flex;
	column-gap: 1rem;
}

.social-icons{
	column-gap: .5rem;
}

.extra-icons li:nth-child(1){
	background: url("../images/footer_icon1.png") no-repeat 0 center;
	padding:0 0 0 16px;
}

.extra-icons li:nth-child(2){
	background: url("../images/footer_icon2.png") no-repeat 0 center;
	padding:0 0 0 16px;
}














































